@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
* {
    color: white;
    font-family: 'Quicksand', sans-serif;
    transition: all 0.5s ease;
}

body {
    background-color: black;
}